
header{
  margin-top: 10px;
  color: #e6e6e6;
  background: linear-gradient(to right, #29353c,#44576d, #768A96 );
  border: outset;
  
  
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.margin{
  margin-top: -25px;
  color: #e6e6e6
}




body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #aac7d8;
  
}

h2{
    text-align: center;
    text-transform: uppercase;
}

h2, p{
  color: #29353c;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

p{
  text-align: center;
}

.button{
  background-color: #e6e6e6;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  width: 100px;
  text-align: center;
  margin-right: 50px;
}

.button:hover{
  background-color: #44576d
  
}

button:active{
  color: #29353c;
}

a:visited{
  color: #768A96
}



a{
  text-decoration: none;
  color: #44576d
}

#email:hover{
  color: #e6e6e6;
}



