
header{
  margin-top: 10px;
  color: #e6e6e6;
  background: linear-gradient(to right, #29353c,#44576d, #768A96 );
  border: outset;
  
  
}

h1{
    text-align: center;
    text-transform: uppercase;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

h2, p{
  color: #29353c;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #aac7d8;
  
}




img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: solid, 10px, #44576d;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #111618;
}

p{
  text-align: center;
}

.about-me{
  text-align: center;
  max-width: 800px;
  background-color: #768A96;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  border: solid, #29353c, 5px;
  /*box-shadow: 0 4px 8px #29353c ;*/
  
}

.projects{
  text-align: center;
  max-width: 1000px;
  background-color: #768A96;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  border: solid, #29353c, 5px;
  /*box-shadow: 0 4px 8px #29353c ;*/

}




#about-me-p{
  width: auto;
  max-width: 800px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.h-margin{
  margin-top: -25px;
  color: #e6e6e6
  
}


.hackhers{
  text-align: left;
  max-width: 100%;
  background-color: #44576d;
  padding: 10px;
  margin-top: 30px;
  border-top: solid,#29353c,10px;
  color: #aac7d8;
  
}

#hackhers-desc{
  text-align: left;
  color: #aac7d8;

}

.about-me-button{
  background: linear-gradient(180deg,#e6e6e6, #8a8a8a);;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  width: auto;
  text-align: center;
  margin-right: 32px;
  margin-left: auto;
  width: 200px;
  box-shadow: 0 5px 5px black;
  transition: transform 0.3s, background-color 0.3s ease;

}

.about-me-button:hover{
  background: linear-gradient(#29353c,#111618);
  color: #e6e6e6;
  transform: scale(1.3);
  
  
}

/*.about-me-button:active{
  color: #29353c;
}*/

.projects-button{
  background: linear-gradient(#768A96,#394247) ;
  display: inline-block;
  border-radius: 30px;
  text-align: left;
  padding: 5px;
  width: auto;
  text-align: center;
  margin-right: 32px;
  margin-left: auto;
  width: 200px;
  box-shadow: 0 5px 5px black;
  color: #e6e6e6;
  transition: transform 0.3s, background-color 0.3s ease;
  
}

.projects-button:hover{
  background-color: #29353c;
  color: white;
  transform: scale(1.3);
}



#email:visited{
  color: #768A96
}





a{
  text-decoration: none;
  color: #44576d
}

#email:hover{
  color: #e6e6e6;
}



